<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931878545143-bje1cqg6i7d33fjvngmp5gu0jakun51j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931878545143-bje1cqg6i7d33fjvngmp5gu0jakun51j</string>
	<key>API_KEY</key>
	<string>AIzaSyDWpwoLSkWyQy8cT1VJsa91YK7-QcwR9n0</string>
	<key>GCM_SENDER_ID</key>
	<string>931878545143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoga.facecare</string>
	<key>PROJECT_ID</key>
	<string>face-care-1d994</string>
	<key>STORAGE_BUCKET</key>
	<string>face-care-1d994.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:931878545143:ios:6a2d87f281ef86f5a495f2</string>
</dict>
</plist>
